body,
html {
    margin: 0;
    outline: 0;
    height: 100%;
}

body {
    background:
        repeating-linear-gradient(to bottom, #fff0 0, #fff0 24px, #5f84ff 25px),
        repeating-linear-gradient(to right, #fff0 0, #fff0 24px, #5f84ff 25px),
        linear-gradient(to left, #fff0 0,#fff0 100px, #ff5f5f 101px, #fff0 102px, #fff0),
        #fefefe;
    padding: 25px;
    width: 1350px;
}